.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f8f9fd;
  /* background-color: aquamarine; */
}
.login-form {
  background-color: white;
  padding: 4rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input[type="text"],
input[type="password"] {
  height: 40px;
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}
.button-container {
  display: flex;
  justify-content: center;
}
.products{
  margin: 20px auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* background-color: rgb(200, 225, 241); */
}
.card{
  width: 300px;
  height: 300px;
  border : 1px solid black;
  overflow: hidden;
  padding : 10px;
  background-color: white;
}
.product-name{
  text-transform : uppercase;
  margin : 10px 0px;
}
.product-price{
  margin : 10px 0px;
  padding-bottom : 20px;
  font-size:18px;
  line-height:30px;
}
.product-add-button{
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  outline : none;
  background-color: black;
  color: white;
  width : 100%;
  height : 40px;
  display : block;
  cursor : pointer;
  text-transform: uppercase;
  margin : 15px auto;
}
.product-add-button:hover{
  background-color: rgb(43, 147, 231);
}
.home-page{
  background-color: aquamarine;
  height: 580px;
}
.home-header{
  padding-top: 10%;
}